*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-item:hover {
    background-color: lawngreen;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color:white;
}

.nav-item a:hover{
    background-color: lawngreen;
}

.side{
    display:flex;
    flex-direction: row;
}

.logo{
    width:100px;
    aspect-ratio: 1/1;
}

.logo img{
    width:100%;
    align-items: center;
}

@media (max-width: 768px) {
    .side {
        align-items: flex-start;
    }

    .logo {
        width: 80px;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 480px) {
    .side {
        gap: 8px;
    }

    .logo {
        width: 60px;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;  
    }

}