*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-item:hover {
    background-color: lawngreen;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color:white;
}

.nav-item a:hover{
    background-color: lawngreen;
}

.container{
    display: flex;
    justify-content: center;
}

.image-banner{
    width:100%;
    height:450px;
}

img{
    max-width: 100%;
    height: auto;
}

.footer_bar {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.footer_top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
    gap: 40px;
}

.footer_link {
    list-style-type: none;
    line-height: 30px;
    color: lawngreen;
}

.footer_item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer_map {
    flex: 1;
    display: flex;
}

.footer_map iframe {
    width: 100%;
    height: 300px;
    border: 0;
}


@media (max-width: 768px) {
    .footer_top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_item {
        flex-direction: column;
        gap: 15px;
    }

    .footer_link {
        font-size: 18px;
        line-height: 26px;
    }

    .footer_map iframe {
        height: 250px;       
    }
}


@media (max-width: 480px) {
    .footer_link {
        font-size: 14px;
        line-height: 22px;
    }

    .footer_item {
        gap: 10px;
    }

    .footer_top {
        padding: 15px 0;
    }

    .footer_map iframe {
        height: 200px;     
    }
}

