*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-item:hover {
    background-color: lawngreen;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color:white;
}

.nav-item a:hover{
    background-color: lawngreen;
}

.main-container{
    display: flex;
    align-items: flex-start; 
}

.sidenav {
  height: 150vh;
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  padding-top: 40px;
  list-style-type: none;
  border-radius:10px;
  display:grid;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
  text-decoration: none;
}

.sidenav a:hover {
  color:lawngreen;
}

@media (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.main{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding:10px;
    gap:10px;
    flex:1;
}

.product{
    width:100%;
    border: 2px solid black;
    border-radius: 10px;
}

.product .image{
    width:100%;
    overflow: hidden;
    position:relative;
    border-radius: 10px;
    overflow: hidden;
}

.image img{
    width:100%;
}

.badge{
    background: lawngreen;
    color:black;
    position: absolute;
    top:5px;
    right:5px;
    padding:5px 10px;
}

.data{
    padding: 20px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data i{
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 10px;
    border:2px solid lawngreen;
    position: absolute;
    top:10px;
    right:10px;
} 


