*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.3s ease;
}

.nav-item:hover {
    background-color: lawngreen;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color:white;
}

.nav-item a:hover{
    background-color: lawngreen;
}

form{
    max-width: 600px;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color:lawngreen;
    gap:20px;
}

label{
    display:block;
    margin-bottom: 10px;   
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lawngreen;
    background: black;
    color: lawngreen;
}

.submit_btn{
    background:lawngreen;
    width:100%;
    color:black;
    font-size: 1.2rem;
    padding:5px 15px;   
    border-radius: 5px;
    border:2px solid white;
    cursor:pointer;
    margin-top: 15px;
}
